* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Garamont";
  src: url(../fonts/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: "Garamont Bold";
  src: url(../fonts/CormorantGaramond-Bold.ttf);
}

/* img {
  width: 100%;
  object-fit: contain;
} */

body {
  font-family: "Garamont";
  width: 90vw;
  margin: 0 5vw;
  background-color: #e9e9e0;
  height: 100vh;
}

header h1 {
  font-family: "Garamont Bold";
  font-weight: 200;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.date-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 4px solid rgb(0, 0, 0);
  border-bottom: 4px solid black;
  padding: 5px 0;
}

.news-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.news-headline h2 {
  font-family: "Garamont Bold";
  font-size: 2em;
  margin-left: 200px;
}

.news-headline p {
  font-family: "Garamont Bold";
  font-size: 1em;
  margin-right: 8vw;
}
/* main */
/* grid area */

.news-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:
    15vh 25vh 25vh
    12vh;
  grid-template-areas:
    "one four seven seven aside-sec"
    "two five seven seven aside-sec"
    "three six seven seven aside-sec"
    "three six seven-p seven-p aside-sec";
  gap: 10px;
  /* border: 5px solid red; */
  padding: 15px;
  margin-bottom: 20px;
}

.news-wrap div p {
  font-size: 1.3em;
}

.aside-sec {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 25vh 25vh;
  grid-template-areas:
    "eight"
    "nine"
    "ten";
  padding-left: 50px;
}

.seven-p {
  grid-area: seven-p;
  font-size: 1.3em;
  margin-top: 20px;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
  font-family: "Garamont Bold";
  font-size: 3.8em;
  text-align: center;
  padding: 0.5rem 0.5rem;
}
.nine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: nine;
  text-align: center;
  padding: 0.8rem 0.8rem;
}
.nine a {
  display: block;
  text-decoration: none;
  color: #737b80;
  font-size: 1.2em;
}

.ten {
  grid-area: ten;
  display: flex;
  justify-content: center;
  padding: 0.9rem 0.9rem;
}

h4 {
  font-family: "Garamont Bold";
  font-weight: 200;
  font-size: 1.5em;
  margin: 6px 0 8px 0;
}
.aside {
  height: 15.8rem;
  width: 15.8rem;
  border: 6px solid black;
}
